Source: libregeek-repo
Priority: extra
Section: utils
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: debian-repo
Architecture: all
Depends: ${misc:Depends}
Recommends: libregeek-archive-keyring
Description: Apt config for Debian sources
 This package adds the Debian package repository configuration
 to SteamOS.
 
Package: steamos-tools-repo
Architecture: all
Depends: ${misc:Depends}
Recommends: libregeek-archive-keyring
Description: Apt config for SteamOS-Tools packages
 This package adds the SteamOS-Tools stable package repository configuraiton
 to your system.

Package: steamos-tools-beta-repo
Architecture: all
Depends: ${misc:Depends}
Recommends: libregeek-archive-keyring
Description: Apt config for SteamOS-Tools packages (beta)
 This package adds the SteamOS-Tools beta package repository configuration
 to your system.

Package: debian-testing-toolchain
Architecture: all
Depends: ${misc:Depends}
Recommends: libregeek-archive-keyring
Description: Apt config for Debian Jessie Testing
 This package adds the Debian Jessie Testing repository configuration.
 Please note this is only intended for more bleeding-edge package
 builds that require newer toolchains.
